#image{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.search-input{
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#header{
    position: fixed;
    top: 0;
    min-height: 40px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img{
    width: 100%;
    height: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav > div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.a-ref{
    color: black;
    text-decoration: none;
    justify-content: space-around;
}

.main{
    margin-top: 70px;
}

#title-advanced{
    color: rgb(146, 11, 11);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.margins{
    margin-bottom: 20px;
    margin-left: 40px;
}

.space{
    margin-top: 20px;
    margin-bottom: 20px;
}

.advanced-input{
    width: 40%;
}

.shift_left{
    width: 200px;
    margin-left: 40px;  

}
